.annotated-image-wrapper{
    width: 100% !important;
    height: auto !important;
}

.annotated-image{
    position: relative;
    margin: 0 0 20px;
    > img{
        width: 100%;
    }
    .note{
        position: absolute;
        cursor: help;
    }
    .icon-marker{
        width: 30px;
        height: 45px;
        position: absolute;
        bottom: 0.05em;
        left: -0.85em;
        z-index: 1;
        fill: $white;
    }
    .text-wrapper{
        position: absolute;
        left: -35px;
        bottom: 30px;
        font-size: 1.3rem;
        line-height: 1.7;
        color: $white;
    }
    .text{
        width: 340px;
        padding: 30px;
        background: rgba($text, 0.95);
        &:empty{
            display: none;
        }
        strong{
            font-size: 2rem;
        }
    }
}

.bloc-title-img{
    width: 100%;
    padding: 0 $gutter*2 45px $gutter;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    transition: opacity $transition;
    &.off{
        opacity: 0;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: -$gutter;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba($white, 0.9);
    }
    > h1{
        padding: 50px 0 0;
        margin: 0;
        &:before{
            bottom: calc(100% - 1.83em);
        }
    }
    > p{
        margin: 0;
    }
}


@media(max-width: $desktop){
    .bloc-title-img{
        position: static;
        &.off{
            opacity: 1;
        }
    }
}

@media(max-width: $tablet){
    .annotated-image{
        .note{
            display: none;
        }
    }
}
