.annotated-image-wrapper{
    width: 100% !important;
    height: auto !important;
}
.annotated-image{
    position: relative;
    margin: 0 0 20px;
}
.annotated-image img {
    width: 100%;
}
.annotated-image .note {
    position: absolute;
    cursor: help;
}

.annotated-image .icon-marker{
    width: 30px;
    height: 45px;
    position: absolute;
    bottom: 0.05em;
    left: -0.85em;
    z-index: 1;
    fill: $white;
}
.annotated-image .note .text-wrapper {
    position: absolute;
    left: -35px;
    bottom: 30px;
    font-size: 1.3rem;
    line-height: 1.7;
    color: $white;
}
.annotated-image .note .text{
    width: 340px;
    padding: 30px;
    background: rgba($text, 0.95);
    strong{
        font-size: 2rem;
    }
}
.annotated-image .note .text:empty {
    display: none;
}

.annotated-image .note.current .marker{
    border-top-color: orange;
}
.annotated-image .note.current .text{
    background: orange;
}
.annotated-image-wrapper textarea{
    width: calc( 100% - 50px );
    margin-right: 1em;
}