/* Buttons */

.btn{
    display: inline-block;
    padding: 15px 50px 15px 35px;
    position: relative;
    font-family: $poppinsMedium;
    font-size: 1.4rem;
    text-decoration: none;
    color: $text;
    background: $white;
    > .icon{
        width: 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 25px;
        margin: auto;
        transition: transform $transition;
    }
    &:hover, &:focus{
        color: $white;
        opacity: 1;
        background: $primary;
        > .icon{
            transform: translate3d(5px, 0, 0);
        }
    }
}

.btn-contact, .btn-search{
    width: 20px;
    text-indent: -99em;
    overflow: hidden;
    > .icon{
        float: left;
        height: inherit;
    }
}
.btn-contact{
    height: 15px;
    > .icon{
        transform: translate3d(0, 0, 0);
        transition: $transition;
    }
    &:hover, &:focus{
        opacity: 1;
        > .icon{
            opacity: 0.7;
        }
    }
}
.btn-search{
    height: 20px;
    color: $primary;
    transition: $transition;
    &:hover, &:focus{
        opacity: 0.7;
    }
}
