/* Buttons */

.btn{
    display: inline-block;
    padding: 15px 35px;
    font-family: $poppinsMedium;
    font-size: 1.4rem;
    text-decoration: none;
    color: $text;
    background: $white;
}

.btn-contact, .btn-search{
    width: 20px;
    text-indent: -99em;
    overflow: hidden;
    > .icon{
        float: left;
        height: inherit;
    }
}
.btn-contact{
    height: 15px;
}
.btn-search{
    height: 20px;
    color: $primary;
    transition: $transition;
    &:hover, &:focus{
        filter: saturate(200%);
    }
}
