.dropdown{
    position: relative;
    background: $primary;
    color: $white;
    &.isOpen{
        z-index: 3;
        ul{
            pointer-events: auto;
            > li{
                display: block;
            }
        }
    }
    &.white{
        background: $white;
        color: $text;
        .dropdown-title{
            border-color: #a8b3c0;
        }
        ul{
            border-color: #a8b3c0;
            &:before{
                background: $white;
            }
        }
        a{
            color: $text;
        }
    }
    .dropdown-title{
        display: block;
        width: 100%;
        min-height: 44px;
        position: relative;
        padding: 12px 40px 12px 20px;
        border: 1px solid $white;
        line-height: 1;
        text-align: left;
        .icon{
            width: 12px;
            height: 6px;
            position: absolute;
            top: 50%;
            margin: -3px 0 0;
            right: 15px;
        }
    }
    ul{
        display: flex;
        padding: 0;
        border: 1px solid $white;
        border-top: 0;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 2;
        pointer-events: none;
        &:before{
            content: '';
            width: 100%;
            position: absolute;
            top: 44px;
            bottom: 0;
            left: 0;
            background: $primary;
        }
        > li{
            display: none;
            padding: 0;
            order: 2;
            &:before{
                content: none;
            }
            &.active{
                order: 1;
                display: block;
                a{
                    font-family: $proximaLightIt;
                    font-size: 1.8rem;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
    a{
        display: block;
        padding: 13px 40px 13px 20px;
        font-family: $poppinsLight;
        font-size: 1.5rem;
        line-height: 1.1;
        text-decoration: none;
        color: $white;
    }
}

.wrapper-page{
    padding: 94px 0;
}
.wrapper-dropdowns{
    width: 100%;
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($white, 0.95);
    z-index: 2;
    .container{
        display: flex;
        justify-content: flex-end;
    }
    .dropdowns{
        display: flex;
        width: calc(100% - 420px);
        position: relative;
        margin: 0;
    }
    .dropdown{
        width: 32%;
        margin: 10px 0 10px $gutter;
    }
}


@media(max-width: $desktop){
    .wrapper-dropdowns{
        .dropdowns{
            width: calc(100% - 350px);
        }
    }
}

@media(max-width: $desktopSmall){
    .wrapper-dropdowns{
        position: static;
        .dropdowns{
            width: 100%;
        }
        .dropdown{
            width: 100%;
            max-width: 250px;
            margin: 10px $gutter 10px 0;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .wrapper-page{
        padding: 0;
    }
}

@media(max-width: $tablet){
    .wrapper-dropdowns{
        .dropdowns{
            flex-wrap: wrap;
        }
    }
}

@media(max-width: $phone){
    .wrapper-dropdowns{
        .dropdown{
            margin-right: 0;
        }
    }
}

@media (max-width: $phoneSmall){
    .dropdown{
        a{
            padding: 16px 35px 13px 10px;
            font-size: 1.4rem;
        }
        ul{
            > li{
                &.active{
                    a{
                        padding-top: 16px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
