/* Projects */
.projects{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    &.complete{
        width: calc(100% + #{2*$gutter});
        margin-left: -$gutter;
    }
    > li{
        width: 25%;
        &:before{
            content: none;
        }
        &:nth-child(even){
            margin-top: 72px;
        }
        &.load-more{
            a{
                display: block;
                position: relative;
                background: $primary;
                color: $white;
                font-family: $poppins;
                font-size: 2rem;
                &:before{
                    content: '';
                    display: block;
                    padding-bottom: 88%;
                }
            }
            .txt-more{
                position: absolute;
                left: $gutter;
                right: $gutter;
                bottom: 40px;
                .icon{
                    width: 11px;
                    height: 11px;
                    margin-left: 10px;
                }
            }
        }
    }
    a{
        text-decoration: none;
    }
    .wrapper-img{
        display: block;
        position: relative;
        &:before{
            content: '';
            display: block;
            padding-bottom: 88%;
        }
        &:after{
            content: '';
            display: block;
            width: 2px;
            height: 54px;
            position: absolute;
            bottom: -25px;
            left: $gutter;
            background: $primary;
        }
    }
    .img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h3{
        margin: 1.5em 0 0;
        padding: 0 $gutter;
        color: $text;
        line-height: 1.1;
        > span{
            display: block;
            margin: 8px 0 0 0;
            font-family: $poppinsLight;
            font-size: 1.6rem;
        }
    }
    ul{
        margin: 1.5em 0;
        padding: 0 $gutter;
        > li{
            &:before{
                content: none;
            }
        }
    }
}

@media(max-width: $desktopSmall){
    .projects{
        >li{
            width: 50%;

        }
    }
}
@media(max-width: $phone){
    .projects{
        .wrapper-img{
            width: 75%;
        }
        >li{
            width: 100%;
            &:nth-child(even){
                margin-top: 0;
            }
            &.load-more{
                a{
                    width: 75%;
                }
            }
        }
    }
}
