/* Projects */
.projects{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    &.complete{
        width: calc(100% + #{2*$gutter});
        margin-left: -$gutter;
        > li{
            margin-bottom: -72px;
            &:nth-child(4n+2){
                margin-top: 96px;
            }
            &:nth-child(4n+3){
                margin-top: 168px;
            }
            &:nth-child(4n+4){
                margin-top: 192px;
            }
        }
    }
    > li{
        width: 25%;
        &:before{
            content: none;
        }
        &:nth-child(4n+2){
            margin-top: 96px;
        }
        &:nth-child(4n+3){
            margin-top: 48px;
        }
    }
    a{
        text-decoration: none;
    }
    .wrapper-img{
        display: block;
        position: relative;
        &:before{
            content: '';
            display: block;
            padding-bottom: 88%;
        }
        &:after{
            content: '';
            display: block;
            width: 2px;
            height: 54px;
            position: absolute;
            bottom: -25px;
            left: $gutter;
            background: $primary;
        }
    }
    .img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h3{
        margin: 1.5em 0 0;
        padding: 0 $gutter;
        color: $text;
        line-height: 1.1;
        > span{
            display: block;
            margin: 8px 0 0 0;
            font-family: $poppinsLight;
            font-size: 1.6rem;
        }
    }
    ul{
        margin: 1.5em 0;
        padding: 0 $gutter;
        > li{
            &:before{
                content: none;
            }
        }
    }
}

@media(max-width: $desktopSmall){
    .projects{
        >li{
            width: 50%;
            &:nth-child(4n+3){
                margin-top: 0;
            }
            &:nth-child(4n+4){
                margin-top: 96px;
            }
        }
    }
}
@media(max-width: $phone){
    .projects{
        .wrapper-img{
            width: 75%;
        }
        >li{
            width: 100%;
            &:nth-child(4n+1), &:nth-child(4n+2), &:nth-child(4n+3), &:nth-child(4n+4){
                margin-top: 0;
            }
        }
    }
}
