.slider{
    position: relative;
    margin: 0 0 150px;
    > .container{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        .icon{
            display: none;
            width: 9px;
            margin: 2px 0 0 3px;
            vertical-align: top;
            transform: translate3d(0, 0, 0);
            transition: transform $transition;
        }
    }
    .wp-post-image{
        margin: 0;
    }
    ul{
        display: flex;
        height: 165px;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -90px;
        margin: 0;
        overflow: hidden;
        &:before{
            content: '';
            height: 98px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background: $text;
        }
    }
    li{
        width: 25%;
        padding: 0;
        border-left: 1px solid #8791a2;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        transform-origin: 0 50%;
        //transition: transform 0.2s;
        &:before{
            content: none;
        }
        &.on{
            border: 0;
            > a{
                background: $primary;
                transform: scale(2) translate3d(0, 0, 0);
            }
            span{
                transform: scale(0.5);
            }
            .icon{
                display: inline-block;
            }
            + li{
                border: 0;
                transform: translate3d(100%, 0, 0);
                + li{
                    transform: translate3d(100%, 0, 0);
                }
            }
        }
        &:first-child{
            border: 0;
        }
    }
    a{
        display: block;
        padding: 25px $gutter;
        text-decoration: none;
        background: $text;
        color: $white;
        transform-origin: 0 50%;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        transition: transform 0s, background $transition;
        > span{
            display: block;
            transform-origin: 0 60%;
        }
        > b{
            font-family: $poppins;
            font-size: 2rem;
            line-height: 1;
        }
        &:hover, &:focus{
            opacity: 1;
            background: $primary;
        }
        &:hover{
            > .icon{
                transform: translate3d(5px, 0, 0);
            }
        }
    }
}

.slide{
    display: flex;
    width: 100%;
    max-height: calc(90vh - 102px);
    min-height: 150px;
    overflow: hidden;
    align-items: flex-end;
    top: 0;
    left: 0;
    &.off{
        display: none;
    }
}


@media (max-width: $desktopLarge){
    .slider{
        ul{
            left: $gutter;
            right: $gutter;
        }
    }
}

@media (max-width: $desktop){
    .slider{
        ul{
            &:before{
                height: 95px;
            }
        }
        a{
            > b{
                font-size: 1.6rem;
            }
        }
        li:not(.on){
            span{
                font-size: 1.4rem;
            }
        }
    }
}
