.slider{
    margin: 0 0 70px;
    .wp-post-image{
        margin: 0;
    }
    ul{
        display: flex;
        position: absolute;
        margin: 0 0 0 -$gutter;
    }
    li{
        width: 25%;
        padding: 0;
        
        &:before{
            content: none;
        }
    }
    a{
        display: block;
        color: $white;
        background: $text;
    }
}
