/******* GÉNÉRAL *******/

::-moz-selection{
    background: $primary;
    color: $white;
    text-shadow: none;
}
::selection{
    background: $primary;
    color: $white;
    text-shadow: none;
}

html{
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: $poppinsLight;
    font-size: 1.6em;
    line-height: 1.5;
    color: $text;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
    font-family: $poppinsMedium;
    font-weight: 400;
}

h1{
    position: relative;
    margin: 3em 0 1em;
    font-size: 5rem;
    line-height: 1.2;
    color: $primary;
    &:before{
        content: '';
        width: 2px;
        height: 145px;
        position: absolute;
        left: -$gutter;
        bottom: 0.35em;
        background: $primary;
    }
}

h2{
    margin: 0.8em 0;
    font-size: 3.6rem;
    line-height: 1.4;
}

h3{
    margin: 2.3em 0 1.2em;
    font-size: 2rem;
    color: $primary;
}

h4{
    margin: 3.6em 0 1.6em;
    text-transform: uppercase;
}

h5, h6{
    margin: 2em 0 1em;
    color: $primary;
}

p{
    margin: 1.8em 0;
}

b, strong{
    font-family: $poppinsMedium;
    font-weight: 400;
}

i, em{
    font-family: $proximaLightIt;
    font-size: 1.05em;
    font-style: normal;
}

blockquote{
    padding: 25px $gutter 35px;
    margin: 2.8em $gutter*-1;
    font-family: $proximaLightIt;
    font-size: 1.8rem;
    text-indent: 30px;
    background: $grey url(../layoutImg/quote.svg) no-repeat #{$gutter} 25px / 20px;
    > p{
        margin: 0;
    }
}

li{
    position: relative;
    &:before{
        content: '';
        width: 15px;
        height: 2px;
        position: absolute;
        top: 8px;
        left: -$gutter;
        font-family: $poppinsMedium;
        background: $primary;
        color: $primary;
    }
}
ol, ul{
    padding: 0;
    margin: 1.8em 0;
    list-style: none;
    ul, ol{
        padding: 0 0 0 $gutter;
        margin: 1em 0;
    }
}
ol{
    counter-reset: ol-counter;
    > li{
        counter-increment: ol-counter;
        &:before{
            content: counter(ol-counter)'.';
            width: auto;
            height: auto;
            top: 0;
            background: none;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
    &.aligncenter{
        display: block;
        margin: 1.8em auto;
    }
    &.alignleft{
        float: left;
        margin: 0 $gutter 1.8em -150px;
    }
    &.alignright{
        float: right;
        margin: 0 -150px 1.8em $gutter;
    }
    &.alignnone{
        display: block;
        max-width: calc(100% + 300px);
        margin: 1.8em -150px;
    }
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: $grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}


/******* LIENS / BOUTONS *******/

a{
    position: relative;
    color: $primary;
    text-decoration-color: rgba($primary, 0.5);
    transition: $transition;
    &:focus, &:hover{
        filter: saturate(200%);
    }
    &:focus{
        outline: 0;
    }
    &:active{
        filter: saturate(400%);
    }
}


/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}
.visually-hidden{
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    position: absolute;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.clearfix{
    @include clearfix;
}

.pos-relative{
    position: relative;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.inline-b{
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-.1em);
}

.full-width{
    width: 100%;
}

.icon{
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit{
    &.compat-object-fit{
        background-size: cover;
        background-position: 50% 50%;
        img{ // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}


@media (max-width: $desktop){
    img{
        &.alignleft{
            margin-left: -$gutter;
        }
        &.alignright{
            margin-right: -$gutter;
        }
        &.alignnone{
            max-width: calc(100% + #{2*$gutter});
            margin: 1.8em $gutter*-1;
        }
    }
}

@media (max-width: $desktopSmall){
    li{
        &:before{
            width: 10px;
            left: -20px;
        }
    }

    blockquote{
        margin: 2.8em 0;
    }

    img{
        &.alignleft{
            margin-left: 0;
        }
        &.alignright{
            margin-right: 0;
        }
        &.alignnone{
            max-width: 100%;
            margin: 1.8em 0;
        }
    }
}

@media (max-width: $tablet){
    h1{
        font-size: 4.2rem;
    }

    h2{
        font-size: 3rem;
    }
}
