@font-face{
    font-family: 'poppins';
    src: url('../fonts/poppins.woff2') format('woff2'),
         url('../fonts/poppins.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'poppins-light';
    src: url('../fonts/poppins-light.woff2') format('woff2'),
         url('../fonts/poppins-light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'poppins-medium';
    src: url('../fonts/poppins-medium.woff2') format('woff2'),
         url('../fonts/poppins-medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'proximanova-lightitalic';
    src: url('../fonts/proximanova-lightitalic.woff2') format('woff2'),
         url('../fonts/proximanova-lightitalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
