/* Home specific style */

.home{
    .main{
        padding-bottom: 0;
    }
    h2{
        margin-top: 1.85em;
    }
    .projects{
        padding: 60px 0 15px;
    }
    img{
        &.alignleft{
            margin-left: -$gutter;
        }
        &.alignright{
            margin-right: -$gutter;
        }
    }
}

.bloc-title-small{
    width: 50%;
    padding: 1px $gutter;
    position: absolute;
    top: -130px;
    left: 0;
    background: $primary;
    color: $white;
    > h2{
        margin: 55px 0 0;
    }
    > p{
        margin: 10px 0 65px;
    }
}

.wrapper-map{
    padding: 50px 0;
    position: relative;
    margin: 90px 0 0;
    overflow: hidden;
    background: #dfdfe7;
    &.has-img{
        padding: 0;
        > .container{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translate3d(0, -50%, 0);
        }
    }
    > img{
        float: right;
    }
    h2{
        margin-top: 25px;
    }
    p{
        max-width: 45%;
    }
}


@media(max-width: $desktopLarge){
    .bloc-title-small{
        width: calc(50% - #{$gutter});
        left: $gutter;
    }
}

@media(max-width: $desktop){
    .wrapper-map{
        &.has-img{
            > .container{
                top: 60%;
            }
        }
    }
}

@media(max-width: $desktopSmall){
    .home{
        img{
            &.alignleft{
                margin-left: auto;
            }
            &.alignright{
                margin-right: auto;
            }
        }
    }

    .bloc-title-small{
        width: 100%;
        position: relative;
        margin-bottom: -130px;
        left: 0;
    }

    .wrapper-map{
        text-align: center;
        &.has-img{
            > .container{
                position: static;
                transform: none;
            }
        }
        > img{
            display: none;
        }
        p{
            max-width: 100%;
        }
    }
}

@media(max-width: $phone){
    .home{
        .projects{
            > li{
                margin: 0 0 30px;
            }
        }
    }
}
