/* References specific style */
.bloc-title{
    position: relative;
    left: -$gutter;
    width: calc(100% + #{2*$gutter});
    margin: -115px 0 70px;
    padding: 55px $gutter 45px;
    background: rgba($primary, 0.95);
    color: $white;
    h1{
        margin: 0;
        color: $white;
        &:before{
            content: none;
        }
        span{
            display: block;
            font-family: $poppinsLight;
            font-size: 1.6rem;    
        }
    }
    p{
        margin: 0;
        font-family: $poppinsLight;
        font-size: 1.8rem;
    }
}
.wrapper-title-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 45px;
    ul{
        width: calc(33.3333% - #{$gutter});
        margin: 0 0 0 20px;
        > li{
            &:before{
                content: none;
            }
        }
        a{
            color: $white;
        }
    }
}
.side-infos{
    position: absolute;
    left: 0;
    top: 128px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $white;
    &:before, &:after{
        content: '';
        display: block;
        width: 90px;
        height: 2px;
        background: $primary;
        position: absolute;
        left: $gutter;
    }
    &:before{
        top: 0;
    }
    &:after{
        bottom: 0;
    }
    > li{
        margin: 10px 0;
        padding: 0;
        &:before{
            content: none;
        }
    }
    .info-title{
        display: block;
        font-family: $poppinsLight;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $primary;
    }
    .info-content{
        font-family: $poppinsMedium;
        font-size: 1.6rem;
        color: $text;
    }
}
.col-6{
    img{
        &.alignleft{
            width: calc(66.6666666667% + 40px);
            margin-left: calc(-33.3333% - 50px);
        }
    }
}

.filters{
    padding: 50px $gutter 35px;
    color: $white;
    background: $primary;
    .title{
        display: block;
        position: relative;
        margin: 0 0 10px;
        font-family: $poppinsMedium;
        font-size: 2rem;
        &:before, &:after{
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            position: absolute;
            top: 50%;
            margin-top: -1px;
        }
        &:before{
            left: -50px;
            background: $primary;
        }
        &:after{
            left: -30px;
            background: $white;
        }
    }
    .select{
        margin-top: 28px;
        width: 100%;
        select{
            width: 100%;
        }
    }
}

@media(max-width: $desktopSmall){
    .side-infos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        left: auto;
        top: auto;
        padding-left: 0;
        padding-right: 0;
        > li{
            width: calc(50% - 20px);
        }
        &:before, &:after{
            left: 0;
        }
    }
    .content-right-aligned{
        width: 100%;
    }
    .col-6{
        img{
            &.alignleft{
                width: auto;
                margin-left: auto;
            }
        }
    }
}
@media(max-width: $phone){
    .wrapper-title-links{
        display: block;
        ul{
            width: 100%;
            margin-left: 0;
        }
    }
    .side-infos{
        > li{
            width: calc(100%);
        }
    }
}
