.page-template-sub-front-page{
    h2{
        margin: 0;
        font-size: 2rem;
        &.has-margin{
            margin: 3em 0 1em;
        }
        + p{
            margin-top: 0;
        }
    }
    .projects{
        margin: 30px 0 0;
    }
}

.sector-detail{
    display: flex;
    align-items: flex-start;
}

.sector-text{
    width: 50%;
    padding: 0 $gutter 0 0;
}

.list-people-sector{
    display: flex;
    padding: 0 0 30px;
    flex-wrap: wrap;
    margin: 0;
    > li{
        width: 25%;
        padding: 0 $gutter 30px 0;
        &:before{
            content: none;
        }
    }
    h3{
        margin: 0;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $text;
    }
}

.map-sector{
    display: flex;
    align-items: center;
    margin-top: 100px;
    > div{
        width: 50%;
        padding: 0 0 0 $gutter;
        order: 1;
    }
    > img{
        width: calc(50% + #{$gutter});
        margin: 0 0 0 $gutter*-1;
    }
    h2{
        font-size: 5rem;
        line-height: 1.1;
        color: $primary;
        &:after{
            content: '';
            display: block;
            width: 150px;
            height: 2px;
            margin: 10px 0 50px $gutter*-2;
            background: $primary;
        }
    }
}

.page-template-sectors{
    .main, .container{
        position: relative;
    }
}
.sectors-page{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
    h1{
        color: #fff;
    }
}
.sectors-list{
    display: flex;
    width: 75%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px 0 0;
    > li{
        width: 31%;
        margin: 40px 0 0;
        &:before{
            content: none;
        }
    }
    img{
        display: inline-block;
        max-width: 75%;
        margin: 0 20px 25px 0;
    }
    a{
        display: block;
        text-align: right;
        line-height: 2;
        text-decoration: none;
    }
    span{
        text-decoration: underline;
    }
    div{
        text-align: left;
    }
    p{
        position: relative;
        margin: 0;
        text-align: left;
        color: #fff;
        &:first-of-type{
            font-size: 2rem;
            &:before{
                content: '';
                width: 2px;
                height: 55px;
                position: absolute;
                top: -60px;
                left: 0;
                background: $primary;
            }
        }
    }
    .icon{
        width: 8px;
        height: 8px;
        margin: 0 0 0 5px;
    }
}
.sectors-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}


@media(max-width: $desktopLarge){
    .map-sector{
        > img{
            width: 50%;
            margin: 0;
        }
    }
}

@media(max-width: $desktop){
    .sector-detail{
        display: block;
    }

    .sector-text{
        width: 100%;
        padding: 0;
    }

    .sectors-list{
        > li{
            padding-left: 0;
        }
    }
}

@media(max-width: $desktopSmall){
    .list-people-sector{
        > li{
            width: 50%;
        }
    }

    .map-sector{
        display: block;
        > div{
            width: 100%;
            padding: 0;
        }
        > img{
            display: block;
            width: auto;
            margin: 0 auto;
        }
        h2{
            margin: 0 0 0.5em;
            &:after{
                content: none;
            }
        }
    }

    .sectors-page{
        display: block;
    }
    .sectors-list{
        width: 100%;
    }
}

@media(max-width: $tablet){
    .page-template-sectors{
        .main{
            padding-top: 1px;
        }
    }

    .sectors-list{
        > li{
            width: 46%;
        }
    }
}

@media(max-width: $phone){
    .list-people-sector, .sectors-list{
        > li{
            width: 100%;
        }
    }
}
