// Variables //


// Colors
$white: #fff;
$black: #000;

$primary: #e5512c;
$text: #646a74;
$grey: #edf0f5;
$greyText: #d9dfeb;

$error: #e52042;
$success: #8bbc16;


// Transitions
$transition: 0.3s ease-in-out;


// Fonts
$poppins: 'poppins', sans-serif;
$poppinsLight: 'poppins-light', $poppins;
$poppinsMedium: 'poppins-medium', $poppins;
$poppinsBold: 'poppins-bold', $poppins;
$proximaLightIt: 'proximanova-lightitalic', $poppins;


// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';

$desktopLarge: '1270px';
$desktop: '1200px';
$desktopSmall: '960px';
$tablet: '780px';
$phone: '580px';
$phoneSmall: '400px';


// Grid
$col: 100/8*1%;
$gutter: 30px;
