.content-about{
    h2{
        margin-top: 2.2em;
        font-size: 2rem;
    }

    img{
        &.alignleft{
            margin-left: -$gutter;
        }
        &.alignright{
            margin-right: -$gutter;
        }
        &.alignnone{
            max-width: calc(100% + #{2*$gutter});
            margin-right: -$gutter;
            margin-left: -$gutter;
        }
    }
}

.list-skills{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    > li{
        width: 33.3333%;
        padding: 80px 50px 0 0;
        &:before{
            content: none;
        }
    }
    h2{
        margin: 0 0 3px;
        line-height: 1.2;
        color: $primary;
        &:before{
            content: '';
            display: block;
            width: 2px;
            height: 50px;
            margin: 25px 0 3px;
            background: $primary;
        }
    }
    p{
        margin: 0;
    }
    img{
        transform: translate3d(-50%, 0, 0);
    }
}

.wrapper-people{
    padding: 50px 0 0;
    + .wrapper-people{
        padding: 0;
    }
    h2{
        margin: 0 0 35px;
    }
}
.list-people{
    display: flex;
    flex-wrap: wrap;
    margin: 0 $gutter*-1 0 0;
    > li{
        width: 33.3333%;
        padding: 0 $gutter 45px 0;
        &:before{
            content: none;
        }
    }
    img{
        width: 179px;
        margin: 0 0 $gutter $gutter*-1;
    }
    h3{
        position: relative;
        margin: 0;
        color: $text;
        &:before{
            content: '';
            width: 2px;
            height: 55px;
            position: absolute;
            left: 0;
            top: -57px;
            background: $primary;
        }
    }
    p{
        margin: 0;
        letter-spacing: -0.02em;
    }
}

.prizes{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    > li{
        width: 50%;
        max-width: 300px;
        padding: 50px $gutter*2 45px 0;
        &:before{
            content: none;
        }
        &:nth-child(even){
            margin: 25px 0 0;
        }
    }
    .img{
        position: relative;
        margin: 0 $gutter*-1 20px;
        overflow: hidden;
        &:before{
            content: '';
            display: block;
            padding: 0 0 88%;
        }
        > img{
            width: auto;
            height: 100%;
            min-width: 100%;
            max-width: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        + h2{
            &:before{
                content: '';
            }
        }
    }
    h2{
        margin: 0 0 20px;
        position: relative;
        font-family: $poppins;
        &:before{
            width: 2px;
            height: 55px;
            position: absolute;
            left: 0;
            top: -57px;
            background: $primary;
        }
        > span{
            display: block;
            font-family: $poppinsLight;
            font-size: 1.6rem;
        }
    }
    h3{
        margin: 0 0 20px;
        font-family: $poppinsLight;
        font-size: 1.6rem;
        > span{
            display: block;
        }
    }
}

.about-nav{
    padding: 80px 0 0;
    text-align: right;
}


@media (max-width: $desktopLarge){
    .content-about{
        blockquote{
            margin-right: 0;
        }

        img{
            &.alignright{
                margin-right: 0;
            }
            &.alignnone{
                max-width: calc(100% + #{$gutter});
                margin-right: 0;
            }
        }
    }
}

@media (max-width: $desktop){
    .list-skills{
        > li{
            width: 50%;
        }
    }
}

@media (max-width: $desktopSmall){
    .content-about{
        img{
            &.alignleft, &.alignright{
                margin: 1.8em auto;
            }
            &.alignnone{
                max-width: 100%;
                margin: 1.8em auto;
            }
        }
    }

    .list-skills{
        img{
            transform: none;
        }
    }

    .list-people{
        margin-left: $gutter;
    }

    .prizes{
        margin: 0 $gutter*-1 0 $gutter;
    }
}

@media (max-width: $tablet){
    .list-people{
        > li{
            width: 50%;
        }
    }
}

@media (max-width: $phone){
    .list-skills, .prizes{
        > li{
            width: 100%;
        }
    }
}

@media (max-width: $phoneSmall){
    .list-people{
        > li{
            width: 100%;
        }
    }
}
