/* Forms */

::-webkit-input-placeholder{
    font-family: $proximaLightIt;
    font-size: 1.8rem;
    color: rgba($text, 0.4);
}
::-moz-placeholder{
    font-family: $proximaLightIt;
    color: $grey;
}
:-ms-input-placeholder{
    font-family: $proximaLightIt;
    color: $grey;
}

fieldset{

}

button{
    border: 0;
    color: inherit;
}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    padding: 15px 25px 13px;
    border: 1px solid rgba($text, 0.5);
    font-family: $poppinsLight;
    line-height: 1.2;
    color: $text;
    background: $white;
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
    &:invalid{
        // FF red borders
        box-shadow: none;
    }
    &:hover{
        border-color: $text;
    }
    &:focus{
        border-color: $primary;
    }
    .error &{
        border-color: $error;
    }
}

input{
    width: 270px;
    &[type=email]{
        width: 420px;
    }
    &[type=tel]{
        width: 180px;
    }
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
    &[type=file]{
        margin: 0 20px 0 0;
    }
    .optional &{
        margin: 0 20px 0 0;
    }
}

textarea{
    width: 600px;
    height: 260px;
    .small &{
        width: 420px;
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}
.select{
    display: inline-block;
    max-width: 100%;
    position: relative;
    select{
        height: 45px;
        padding: 0 40px 0 20px;
        border: 1px solid $white;
        appearance: none;
        font-family: $proximaLightIt;
        font-size: 1.8rem;
        line-height: 1;
        color: $white;
    }
    .icon{
        width: 12px;
        height: 6px;
        position: absolute;
        top: 50%;
        margin: -3px 0 0;
        right: 15px;
    }
}

label{
    // min-width: 270px;
    width: 32%;
    min-width: 32%;
    padding: 0 $gutter 0 0;
    font-family: $poppinsMedium;
    line-height: 1.4;
    text-align: right;
    cursor: pointer;
    .optional &{
        font-family: $poppinsLight;
    }
    .error &{
        color: $error;
    }
    .small &{
        width: 39%;
        min-width: 39%;
    }
}

.field{
    display: flex;
    margin: 0 0 20px;
    align-items: center;
    > i{
        display: inline-block;
        margin: 5px 0;
        color: $primary;
    }
    > span{
        font-size: 1.5rem;
    }
    &.objet input{
        width: 420px;
    }
}
.field-top{
    align-items: flex-start;
    > label{
        margin-top: 15px;
    }
}

.form-error, .form-success{
    position: relative;
    margin-top: 0;
    font-family: $poppinsMedium;
    &:before{
        content: '';
        width: 2px;
        position: absolute;
        top: -25px;
        bottom: -15px;
        left: -$gutter;
    }
    > span{
        display: block;
        font-family: $poppinsLight;
    }
}
.form-error{
    color: $error;
    &:before{
        background: $error;
    }
}
.form-success{
    margin-bottom: 50px;
    color: $success;
    &:before{
        background: $success;
    }
}

.form-search{
    > input{
        padding-right: 60px;
        &:focus{
            border-color: rgba($text, 0.5);
        }
    }
}

.form-contact{
    padding: 25px 0 0;
    .btn{
        margin: 30px 0 0 32%;
    }
}

.form-offer{
    padding: 25px 0 0;
    .btn{
        margin: 30px 0 0 39%;
    }
}


@media (max-width: $desktopSmall){
    .form-error{
        &:before{
            left: -20px;
        }
    }
}

@media (max-width: $tablet){
    .field{
        flex-wrap: wrap;
    }

    label{
        display: block;
        width: 100%;
        min-width: 100%;
        margin: 0 0 5px;
        text-align: left;
    }

    .form-contact{
        .btn{
            margin-left: 0;
        }
    }
}
