/* Grid */

.main{
    padding: 100px 0;
    &:before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        cursor: pointer;
        background: $black;
        transition: opacity $transition, 0.3s z-index 0s linear;
    }
    &.menu-open{
        &:before{
            z-index: 9;
            opacity: 0.7;
        }
    }
}


.container, .container-small{
    padding: 0 $gutter;
    margin: 0 auto;
}

.container, .container-full{
    max-width: 1200px;
}

.container-full{
    margin: 0 auto;
}

.container-small{
    max-width: 900px;
}

.grid{
    display: flex;
    justify-content: space-between;
    &.align-end{
        justify-content: flex-end;
    }
}

div[class^='col-']{
    flex-shrink: 0;
    flex-grow: 0;
}
.col-6{
    width: $col*6;
    padding: 0 $gutter;
}
.col-4{
    width: $col*4;
    padding: 0 $gutter;
}
.col-2{
    width: $col*2;
    padding: 0 $gutter;
}


@media (max-width: $desktop){
    .main{
        padding-top: 77px;
    }
}
