/* Grid */

.main{
    padding: 100px 0;
}


.container, .container-small{
    padding: 0 $gutter;
    margin: 0 auto;
}

.container, .container-full{
    max-width: 1200px;
}

.container-full{
    margin: 0 auto;
}

.container-small{
    max-width: 900px;
}

.grid{
    display: flex;
    justify-content: space-between;
}

.col-4{
    width: $col*4;
    padding: 0 $gutter;
}
.col-2{
    width: $col*2;
    padding: 0 $gutter;
}
