/* Header */

.header{
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px solid $grey;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: $poppins;
    background: $white;
    transition: transform $transition;
    &.on{
        background: rgba($white, 0.9);
        transform: translate3d(0, -30px, 0);
        > .container{
            transform: translate3d(0, 15px, 0);
        }
        .logo-out{
            opacity: 0;
        }
        .logo-in{
            transform: translate3d(-85px, 0, 0);
        }
        .logo{
            transform: scale(0.8) translate3d(-20px, 0, 0);
        }
        .btn-menu-main{
            transform: translate3d(-135px, 0, 0);
        }
        .menu-main{
            &:after{
                margin: 0 0 0 -135px;
            }
        }
        .menu-secondary{
            a{
                &:after{
                    bottom: -2px;      
                }
            }
            .current-menu-item, .current_page_parent{
                > a{
                    &:after{
                        bottom: -17px;
                        transform: rotate(90deg) translate3d(-15px, 0, 0); 
                    }
                }
            }
        }
    }
    > .container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        transition: transform $transition;
    }
    .btn-contact{
        transition: color $transition, 0.1s opacity $transition;
        &.off{
            opacity: 0;
            transition-delay: 0s;
        }
    }
    li{
        &:before{
            display: none;
        }
    }
    a{
        text-decoration: none;
    }
}

.main-nav{
    flex-grow: 1;
    margin: 0 0 0 5.25%;
}

.menus-wrapper{
    display: flex;
    justify-content: space-between;
    transition: transform $transition;
}

.menu-main{
    display: flex;
    width: $col*6;
    padding: $gutter 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    flex-wrap: wrap;
    z-index: -1;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, -999px, 0);
    transition: 0s transform 0.3s, opacity $transition;
    &:after{
        content: '';
        width: 2px;
        height: 45px;
        position: absolute;
        top: -15px;
        left: 33.333%;
        background: $text;
        backface-visibility: hidden;
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: $transition;
    }
    > li{
        width: 33.333%;
        &.current-menu-item, &.current_page_parent{
            > a{
                pointer-events: none;
                background: rgba(#6b6f77, 0.98);
                color: rgba($white, 0.6);
            }
            span{
                &:first-child{
                    background: url(../layoutImg/check.svg) no-repeat 100% 40% / 22px;
                }
            }
        }
    }
    a{
        display: block;
        height: 100%;
        padding: $gutter;
        border: 1px solid #686c74;
        font-size: 2rem;
        background: rgba(#535861, 0.98);
        color: $white;
    }
    span{
        display: inline-block;
        &:first-child{
            padding: 0 35px;
        }
        &:last-child{
            display: block;
            font-family: $poppinsLight;
            font-size: 1.35rem;
        }
    }
}

.menu-main-wrapper{
    align-self: stretch;
}
.btn-menu-main{
    display: block;
    height: 100%;
    padding: 0 25px 0 0;
    position: relative;
    > .icon{
        width: 13px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        transition: $transition;
    }
    > .close{
        top: 5px;
        opacity: 0;
    }
}
.menu-main-wrapper:hover > .menu-main, .btn-menu-main:focus + .menu-main{
    transition: transform 0s, opacity $transition;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    &:after{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.menu-main-wrapper:hover > .btn-menu-main, .btn-menu-main:focus{
    > .close{
        opacity: 1;
        transform: rotate(180deg) translate3d(0, 2.5px, 0);
    }
    > .down{
        opacity: 0;
        transform: rotate(180deg) translate3d(0, 2.5px, 0);
    }
}

.menu-secondary-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.menu-secondary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 6.8% 0 auto;
    transition: 0.1s opacity $transition;
    &.off{
        opacity: 0;
        transition-delay: 0s;
    }
    .current-menu-item, .current_page_parent{
        > a{
            color: $primary;
            pointer-events: none;
            &:after{
                width: 42px;
                opacity: 1;
                transform: rotate(90deg);
            }
        }
    }
    a{
        display: block;
        padding: 23px 22px;
        color: $text;
        &:after{
            content: '';
            position: absolute;
            height: 2px;
            left: 22px;
            right: 22px;
            bottom: -17px;
            margin: auto;
            background: $primary;
            opacity: 0;
            transition: transform $transition, opacity $transition;            
        }
        &:hover, &:focus{
            &:after{
                opacity: 1;
                transform: translate3d(0, -2px, 0);
            }
        }
        &:focus{
            filter: none;
            &:after{
                width: 42px;
                opacity: 1;
                transform: rotate(90deg);
            }
        }
    }
}

.logo{
    display: block;
    width: 150px;
    &:after{
        content: none;
    }
}
.logo-primary-fill{
    fill: #e75120;
}
.logo-primary{
    fill: #e85223;
}
.logo-grey-fill{
    fill: #636a75;
}
.logo-grey{
    fill: $text;
}
.logo-in, .logo-out{
    transition: $transition;
}

.header-form-search{
    width: 20px;
    height: 49px;
    position: relative;
    .no-js &{
        display: none;
    }
    > input{
        width: 470px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: $transition;
        &:focus{
            transform: scaleX(1);
            opacity: 1;
            + .btn-search{
                transform: rotate(100deg) translate3d(0, 0, 0);
            }
        }
    }
    > .btn-search{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        margin: auto;
        transform-origin: 50% 50%;
    }
}

.burger{
    display: none;
    width: 34px;
    height: 25px;
    position: relative;
    text-indent: -9999em;
    &:before, &:after{
        content: '';
        height: 3px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: $text;
        transform-origin: 0 50%;
        transition: 0.15s all 0.15s ease-in-out;
    }
    &:before{
        top: 0;
    }
    &:after{
        bottom: 0;
    }
    &.on{
        transform: rotate(180deg);
        &:before{
            transform: translate3d(0, -1px, 0) rotate(45deg);
        }
        &:after{
            transform: translate3d(0, 1px, 0) rotate(-45deg);
        }
        > i{
            opacity: 0;
        }
    }
    > i{
        height: 3px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: $primary;
        transition: 0.15s all 0.15s ease-in-out;
    }
}

.menu-nav{
    display: none;
    height: 50px;
    padding: 14px 0;
    border-top: 2px solid $grey;
    margin: 40px -40px 0;
    text-align: center;
    background: $white;
}
.btn-swipe{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: -99em;
    overflow: hidden;
    border-radius: 50%;
    background: $grey;
    &.on{
        pointer-events: none;
        background: $primary;
    }
}


@media (max-width: $desktop){
    .btn-menu-main, .header-form-search{
        display: none;
    }

    .header{
        padding: 0;
        border: 0;
        position: relative;
        background: none;
        &.on{
            transform: none;
            > .container{
                transform: none;
            }
            .header-main{
                transform: translate3d(0, 10px, 0);
            }
            .header-main-wrapper{
                background: rgba($white, 0.9);
                transform: translate3d(0, -20px, 0);
            }
        }
        > .container{
            display: block;
            padding: 0;
        }
        .btn-contact{
            display: block;
            width: auto;
            height: auto;
            padding: 10px 25px;
            font-family: $poppinsMedium;
            font-size: 2rem;
            line-height: 1;
            text-indent: 0;
            color: $text;
            &:hover, &:focus{
                color: $primary;
            }
            > .icon{
                display: none;
            }
        }
    }

    .header-main-wrapper{
        width: 100%;
        padding: 20px $gutter;
        border-bottom: 2px solid $grey;
        position: fixed;
        top: 0;
        background: $white;
        transition: transform $transition;
    }

    .header-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: transform $transition;
    }

    .menu-main{
        display: block;
        width: 100%;
        padding: 0;
        position: static;
        opacity: 1;
        text-align: left;
        background: $white;
        transform: none;
        &:after{
            content: none;
        }
        > li{
            width: 100%;
            margin: 0 0 30px;
            z-index: 1;
            &:after{
                height: 2px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: -60px;
                margin: auto;
                z-index: -1;
                background: $primary;
            }
            &:last-child{
                margin: 0;
            }
            &.current-menu-item, &.current_page_parent{
                &:after{
                    content: '';
                }
                > a{
                    background: $white;
                    color: $primary;
                }
                span{
                    &:first-child{
                        background: url(../layoutImg/check-orange.svg) no-repeat 0 35% / 20px;
                    }
                }
            }
        }
        a{
            display: inline-block;
            padding: 10px 50px 10px 0;
            border: 0;
            font-family: $poppinsMedium;
            line-height: 1;
            background: $white;
            color: $text;
        }
        span{
            padding: 0 30px;
            &:last-child{
                display: none;
            }
        }
    }

    .menu-main-wrapper, .menu-secondary-wrapper{
        width: 50%;
        padding: 0 $gutter;
    }
    .menu-secondary-wrapper{
        display: block;
    }

    .menu-secondary{
        display: block;
        margin: 0;
        li{
            margin: 0 0 30px;
        }
        a{
            display: block;
            padding: 10px 25px;
            font-family: $poppinsMedium;
            font-size: 2rem;
            line-height: 1;
            &:after{
                display: none;
            }
            &:hover, &:focus{
                color: $primary;
            }
        }
    }

    .main-nav{
        display: block;
        padding: 40px 0 0;
        position: absolute;
        top: 77px;
        left: 0;
        right: 0;
        margin: 0;
        overflow: hidden;
        z-index: -1;
        background: $white;
        transform: translate3d(0, -150%, 0);
        transition: transform $transition;
        &.on{
            transform: translate3d(0, 0, 0);
        }
    }

    .menus-wrapper{
        width: 200%;
        &.swiped{
            transform: translate3d(-50%, 0, 0);
        }
    }

    .logo {
        width: 130px;
    }

    .burger, .menu-nav{
        display: block;
    }
}
