/* Jobs */

.jobs{
    > li{
        margin: 0 0 90px;
        padding: 0;
        &:before{
            content: none;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &.load-more{
            > button, > a{
                width: 80%;
                min-height: 150px;
                &:before{
                    padding-bottom: 35%;
                }
            }
            .txt-more{
                text-align: right;
            }
        }
    }
    a{
        display: block;
        text-decoration: none;
    }
    h2{
        margin: 0;
        font-family: $poppinsMedium;
        font-size: 2rem;
    }
    p{
        font-family: $poppins;
        color: $text;
    }
}

.job-details{
    > span{
        font-family: $poppinsLight;
        font-size: 1.4rem;
        color: $text;
        margin-right: 70px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.img-job-responsive{
    display: none;
}


@media (max-width: $desktopSmall){
    .img-job-responsive{
        display: block;
        width: 80%;
        margin: 7em 0 0;
    }
}

@media (max-width: $phone){
    .jobs{
        > li{
            &.load-more{
                > button, > a{
                    width: 100%;
                }
            }
        }
    }

    .img-job-responsive{
        width: 100%;
        margin: 5em 0 0;
    }
}
