.page-template-implantations{
    .main{
        height: 95vh;
        min-height: 650px;
        padding-bottom: 0;
        position: relative;
        z-index: 2;
    }
}

.container-map{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-map-txt{
    width: 30%;
    min-width: 465px;
    padding: 55px 60px 45px;
    position: relative;
    margin: 15vh 0 0;
    float: right;
    z-index: 1;
    background: $primary;
    color: $white;
    > h1{
        margin: 0 0 $gutter;
        color: $white;
        &:before{
            content: none;
        }
    }
    > p{
        margin-top: 0;
    }
    > .dropdown-title{
        display: block;
        padding: 15px 0;
        font-size: 2rem;
        font-family: $poppinsMedium;
    }
    > .dropdown{
        max-width: 320px;
    }
}

.mapboxgl-popup{
    .mapboxgl-popup-tip{
        display: none;
    }
}
.mapboxgl-popup-content{
    padding: $gutter;
    font-family: $poppinsLight;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0;
    box-shadow: 0 0 40px 0 rgba($black, 0.1);
    > h2{
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    > span{
        display: block;
    }
}
.mapboxgl-popup-close-button{
    right: 10px;
    top: 5px;
    &:hover{
        background: none;
        color: $primary;
    }
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-compass{
    display: none !important;
}
.mapboxgl-ctrl-top-right{
    bottom: 20px;
    left: 20px;
    top: auto;
    right: auto;
}
.mapboxgl-ctrl-group{
    box-shadow: none;
    border-radius: 0;
    background: none;
    > button{
        border: 0;
        margin: 5px 0 0;
        &:hover, &:focus{
            opacity: 0.7;
            background-color: $primary;
        }
    }
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in{
    background: $primary url(../layoutImg/plus.png) 50% 50% no-repeat;
}
.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out{
    background: $primary url(../layoutImg/minus.png) 50% 50% no-repeat;
}


@media (max-width: $desktopSmall){
    .page-template-implantations{
        .main{
            height: auto;
            min-height: 0;
        }
    }

    .container-map{
        height: 60vh;
        min-height: 500px;
        position: relative;
    }

    .container-map-txt{
        width: 100%;
        min-width: 0;
        float: none;
        margin: 0;
        > .dropdown-title, > .dropdown{
            display: none;
        }
    }
}
