/* News */

.news{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + #{2*$gutter});
    margin-left: -$gutter;
    > li{
        width: 50%;
        margin-bottom: 40px;
        padding-left: 0;
        &:before{
            content: none;
        }
        &:nth-child(even){
            margin-top: 96px;
        }
        &:last-child{
            margin-bottom: 0;
        }
        &.load-more{
            a{
                display: block;
                position: relative;
                width: 75%;
                background: $primary;
                color: $white;
                font-family: $poppins;
                font-size: 2rem;
                &:before{
                    content: '';
                    display: block;
                    padding-bottom: 48%;
                }
            }
            .txt-more{
                text-align: right;
            }
        }
    }
    a{
        text-decoration: none;
    }
    h3{
        margin: 0;
        line-height: 1.2;
    }
    p{
        margin: 0;
        color: $text;
    }
    .wrapper-img{
        display: block;
        position: relative;
        width: 75%;
        &:before{
            content: '';
            display: block;
            padding-bottom: 48%;
        }
        .img{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .wrapper-txt{
        display: block;
        position: relative;
        width: 75%;
        margin: 0 0 0 25%;
        padding: 30px $gutter 0;
        &:before{
            content: '';
            width: 2px;
            height: 73px;
            position: absolute;
            top: -25px;
            left: 0;
            background: $primary;
        }
    }
}

@media(max-width: $desktop){
    .news{
        width: 100%;
        margin-left: 0;
    }
}
@media(max-width: $desktopSmall){
    .news{
        > li{
            &.load-more{
                a{
                    width: 100%;
                }
            }
        }
        .wrapper-img{
            width: 100%;
        }
        .wrapper-txt{
            width: auto;
            margin: 0;
            margin-left: $gutter;
        }
    }
}
@media(max-width: $tablet){
    .news{
        > li{
            width: 100%;
            margin-bottom: 60px;
            &:nth-child(even){
                margin-top: 0;
            }
        }
    }
}
