/* SIDEBAR */

.wrapper-content-sidebar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    > aside{
        width: 300px;
        min-width: 300px;
        margin: 120px 150px 0 0;
        &.over-img{
            margin-top: -178px;
        }
        &.contact-aside{
            margin-top: 232px;
            h2{
                font-size: 2.2rem;
                color: $primary;
            }
        }
    }
}

.wrapper-aside{
    width: 300px;
    padding: 1px 0;
    position: relative;
}
.wrapper-menu-aside{
    width: 330px;
    padding: 0 0 0 $gutter;
    position: relative;
    margin: 0 0 0 $gutter*-1;
    z-index: 3;
    overflow-y: hidden;
}
.menu-aside{
    width: calc(100% - 20px);
    padding: 40px $gutter 40px 10px;
    position: relative;
    margin: 0 0 0 20px;
    background: $primary;
    &:before{
        width: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        background: $primary;
    }
    .menu-no-current &{
        &:before{
            content: '';
        }
    }
    > li{
        padding: 0;
        &:not(.link-download){
            &:before, &:after{
                content: none;
                width: 20px;
                height: 300px;
                position: absolute;
                left: -30px;
                background: $primary;
            }
            &:before{
                top: calc(50% + 1px);
            }
            &:after{
                bottom: calc(50% + 1px);
            }
            &.current-menu-item, &.current_page_parent{
                &:before, &:after, a:before{
                    content: '';
                }
            }
        }
    }
    a{
        position: relative;
        font-family: $poppinsLight;
        line-height: 1.1;
        color: $white;
        text-decoration: none;
        &:before{
            content: none;
            width: 20px;
            height: 2px;
            position: absolute;
            top: calc(50% - 1px);
            left: -50px;
            background: $primary;
        }
    }
    span{
        display: inline-block;
        margin: 0 0 0 5px;
        font-size: 0.75em;
    }
    .link-download{
        &:before{
            content: '';
            display: block;
            width: 60px;
            position: static;
            margin: 10px 0;
            background: $white;
        }
    }
}
.content-sidebar{
    flex: 1 1 0%;
}


@media(max-width: $desktop){
    .wrapper-content-sidebar{
        > aside{
            width: 250px;
            margin-right: 80px;
        }
    }

    .wrapper-menu-aside{
        width: 250px;
    }
}

@media(max-width: $desktopSmall){
    .wrapper-content-sidebar{
        flex-direction: column;
        > aside{
            width: 100%;
            margin: 0;
            &.contact-aside{
                margin: 50px 0 0;
                order: 2;
            }
        }
    }

    .wrapper-menu-aside{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .menu-aside{
        width: 100%;
        padding: 30px;
        margin: 0;
        > li{
            display: inline-block;
            &:last-child{
                a:after{
                    content: none;
                }
            }
        }
        a{
            &:after{
                content: ' — ';
            }
        }
    }
}
